<div class="about">
<h1>About Us</h1>
	<p>
		<br><br>
		We represent a cross-section of entrepreneurs, investors, academia, government, media, non-profit and industry organizations focused on breaking down barriers for women in high-growth entrepreneurship across the pipeline from college graduate to founder and CEO.
	</p>
	<br>
	<p>
		If you would like to be considered for the Summit, please email a request for an invitation to <a href="mailto:invitation@weownitsummit.com"> invitation@weownitsummit.com</a>. Please provide your name, organization and a bit about yourself.
	</p>
	<br>
	<p>
		If you are interested in becoming a sponsor of the Summit, <a href="2013WOISSponsorship.pdf">click here</a> for the sponsor packet.
	</p>
	<br>
	<p>
		At the inaugural Summit in 2010, 1-year and 10-year goals were agreed upon by the attendees. In subsequent Summits, we have measured our progress to the previous year's goals and to our 10 year goals, and to set new goals to ensure that by the end of the decade the barriers are removed and the opportunities are realized.
	</p>
	<div id="goals">
		
			Ten Year Goals: 2010 - 2020<br>
			"The Decade of the Woman Entrepreneur"<br>
			<ul>
				<li>Increase the number of women investors.</li>
				<li>Increase the number of women high growth entrepreneurs.</li>
				<li>Increase the likelihood of success of business (growth stage).</li>
				<li>Get more women on public and private boards.</li>
			</ul>
			<br>
		
			<p>
				Contact Information:<br>
				Registration questions:<br>
				<a href="mailto:registration@weownitsummit.com">registration@weownitsummit.com</a>
				<br>
				Media contact:<br>
				<a href="mailto:media@weownitsummit.com">media@weownitsummit.com</a>
				<br>
				Program questions:<br>
				<a href="mailto:program@weownitsummit.com">program@weownitsummit.com</a>
				<br>
				Sponsor and Exhibitor information:<br>
				<a href="mailto:sponsor@weownitsummit.com">sponsor@weownitsummit.com</a>
				<br>
				Request invitation:<br>
				<a href="mailto:invitation@weownitsummit.com">invitation@weownitsummit.com</a>
				
		</p>
	</div>


</div>

<div style="position:absolute; top:105px; right:30px;">
<div id="sponsors-home">
	<h3>Premier Event Sponsor</h3>
	<h3>2013 Summit Sponsors</h3>
	<%= link_to image_tag("thomson.png", size:"170x170"), 'http://thomsonreuters.com/', id:"thomson-h"%>
	
</div>
</div>


