<div id="agenda">
<h1>Agenda</h1>
<h4>All events occur at The Grange Hotel, 10 Godliman Street, London EC4V 5AJX</h4>


<div id="schedule">
<span id="summit schedule">
<h2><strong>Summit Schedule</strong></h2>
<h3>Thursday June 27th<br><br></h3>

<h4><strong>Morning Program</strong>-Open to the Public</h4>
<table>
	<tr>
	<td>
		8am - 12pm
	</td>
	<td>
	
		<strong>Global Pitch Competition</strong><br>
		An event showcasing the most promising woman led companies from around the world.<a href="agenda#global pitch competition">Find out more</a>
	
	</td>
</tr>
	<tr>
	<td>
		12pm - 2pm
	</td>
	<td>
		
			Lunch and Keynote
		
	</td>
</tr>
</table>
<h4><strong>Afternoon Program</strong>-By Invitation Only</h4>
<table>
	<tr>
	<td>
		2pm - 5:30pm
	</td>
	<td>
		Salons
	</td>
</tr>
</table>

<h4><strong>Evening Program</strong> - Open to the Public</h4>
<table>
	<tr>
		<td>
			7pm
		</td>
		<td>
			Cocktails in the Atrium
		</td>
	</tr>
	<tr>
		<td>
			8pm
		</td>
		<td>
			<strong><% link_to("Awards Dinner", 'agenda#awards dinner') %>:</strong> Celebrating great achievements in venture capital investment in women-led companies</strong><br>
		</td>
	</tr>
</table>
<br><br>
<h3>Friday June 28th<br><br></h3>
<h4><strong>Morning Program</strong>- By Invitation Only</h4>
<table>
	<tr>
		<td>
			9am - 12pm
		</td>
		<td>
			Salons
		</td>
	</tr>
</table>
<h4><strong>Afternoon Program</strong>- Open to the Public</h4>
<table>
	<tr>
		<td>
			12:30pm - 2:30pm
		</td>
		<td>
			Lunch and Keynote<br>
			Keynote Address by <a href="bios#keynotes">Helena Morrissey</a>, CEO Newton Investments.
		</td>
	</tr>
</table>
<h4><strong>Late Afternoon Program</strong> - By Invitation Only</h4>
<table>
	<tr>
		<td>
			2:30pm - 5:30pm
		</td>
		<td>
			Salons and Congress
		</td>
	</tr>
	<tr>
		<td>
			5:30pm
		</td>
		<td>
			Closing remarks by the Alliance of Women Entrepreneurs, convening organization for the 2014 We Own It Summit.
		</td>
	</tr>
</table>
</div>
</span>

<span id="salon descriptions">
	<h2><strong>Salon Descriptions</strong></h2>
</span>

<span id="global pitch competition">
	<div id="global">
	<h2><strong>Global Pitch Competition</strong></h2>
	<div id="pitch">
		<p>
			<%= link_to("Astia", 'http://www.astia.org/', target:'_blank') %> and <%= link_to("The NextWomen", 'http://www.thenextwomen.com/', target:'_blank') %> present<br>the <strong>2013 Global Pitch Competition</strong><br>in collaboration with the <%= link_to("2013 We Own It Summit", root_path, target:'_blank')%><br>
		</p>
	</div>
	<p>This once a year event seeks to showcase the most promising woman-led companies from around the world and will invite finalists to compete for cash prizes, global visibility, and the chance to pitch in front of an international audience at the Fourth Annual We Own It Summit in London, UK on June 27th.<br>
	</p>
	<p>
		<strong>Applications open: April 15, 2013<br>
				Application deadline: May 15, 2013</strong>
	</p>
	<p>
		Qualification Criteria<br>
		<ul>
			<li>An innovative product or offering in a high-growth sector such as Technology, Life Science, Clean Tech, or, in certain circumstances, high-growth Consumer products or services</li>
			<li>A high-growth investment opportunity - at any stage of growth</li>
			<li>An exceptional team, product, and business strategy</li>
			<li>A significant market opportunity with initial customer traction or feedback</li>
			<li>A defendable competitive advantage</li>
			<li>At least one woman in a leadership role (at C level) or in significant position of equity or influence</li>
		</ul>
	</p>
</div>
</span>

<span id="awards dinner">
<h2><strong>Awards Dinner</strong></h2>
<p>
The dinner will honor the venture firms across Europe in the following categories:
			<ul>
				<li><strong>Diversified Portfolio Award</strong>: European firm(s) with the largest percentage of investments in women CEOs or founder</li>
				<li><strong>Shattered Glass Award</strong>: European firm(s) with the greatest number of investments in companies with a woman CEO</li>
				<li><strong>Breaking the Barriers Award</strong>: European firm(s) with the greatest number of investments in companies with a female founder</li>
			</ul>
</p>

</span>
</div>
