<div id="agenda">
<h1>Agenda</h1>
<h4>All events occur at The Grange Hotel, 10 Godliman Street, London EC4V 5AJx</h4>


<div id="schedule">
<span id="summit schedule">
<h2>Summit Schedule</h2>
<h3>Thursday June 27th</h3>

<h4><strong>Morning Program</strong>-Open to the Public</h4>
<table>
	<tr>
	<td>
		8am - 12pm
	</td>
	<td>
	
		Entrepreneur Competition<br>
		Astia and the NextWomen sponsor the <strong>2013 Global Venture Competition.</strong> This once a year event showcases the most promising woman led companies from around the world. Finalists present at the summit, competing for cash prizes and global visibility in front of an international audience.
	
	</td>
</tr>
	<tr>
	<td>
		12pm - 2pm
	</td>
	<td>
		
			Lunch and Keynote
		
	</td>
</tr>
</table>
<h4><strong>Afternoon Program</strong>-By Invitation Only</h4>
<table>
	<tr>
	<td>
		2pm - 5:30pm
	</td>
	<td>
		Salons
	</td>
</tr>
</table>

<h4><strong>Evening Program</strong> - Open to the Public</h4>
<table>
	<tr>
		<td>
			7pm
		</td>
		<td>
			Cocktails in the Atrium
		</td>
	</tr>
	<tr>
		<td>
			8pm
		</td>
		<td>
			<strong>Awards Dinner: Celebrating great achievements in venture capital investment in women-led companies</strong><br>
			The dinner will honor the venture firms across Europe in the following categories:
			<ul>
				<li><strong>Diversified Portfolio Award</strong>: European firm(s) with the largest percentage of investments in women CEOs or founder</li>
				<li><strong>Shattered Glass Award</strong>: European firm(s) with the greatest number of investments in companies with a woman CEO</li>
				<li><strong>Breaking the Barriers Award</strong>: European firm(s) with the greatest number of investments in companies with a female founder</li>
			</ul>
		</td>
	</tr>
</table>
<h3>Friday June 28th</h3>
<h4><strong>Morning Program</strong>- By Invitation Only</h4>
<table>
	<tr>
		<td>
			9am - 12pm
		</td>
		<td>
			Salons
		</td>
	</tr>
</table>
<h4><strong>Afternoon Program</strong>- Open to the Public</h4>
<table>
	<tr>
		<td>
			12:30pm - 2:30pm
		</td>
		<td>
			Lunch and Keynote<br>
			Keynote Address by <a href="http://localhost:3000/bios#keynotes">Helena Morrissey</a>, CEO Newton Investments.
		</td>
	</tr>
</table>
<h4><strong>Late Afternoon Program</strong> - By Invitation Only</h4>
<table>
	<tr>
		<td>
			2:30pm - 5:30pm
		</td>
		<td>
			Salons and Congress
		</td>
	</tr>
	<tr>
		<td>
			5:30pm
		</td>
		<td>
			Closing remarks by the Alliance of Women Entrepreneurs, convening organization for the 2014 We Own It Summit.
		</td>
	</tr>
</table>
</div>
</span>

<span id="salon descriptions">
	<h2>Salon Descriptions</h2>
</span>

<span id="entrepreneur competition">
	<h2>Entrepreneur Competition</h2>
</span>

<span id="awards dinner">
<h2>Awards Dinner</h2>

</span>
</div>
