

<div class="center hero-unit">

  <h1>We Own It Summit</h1>

  <h2>
    June 27th and June 28th, 2013
    <br>
    London, United Kingdom
  </h2>

  <%= link_to "Register", 'http://wois.eventbrite.com/', target:'_blank', class: "btn btn-large btn-primary" %>
  	<br>
  	<br>
 
  	<p>
		A Summit of leaders to explore women's participation in high growth businesses and identify solutions to move us forward.
	</p>
	<div id="home-text">
		<p>We know the motivations
		<br>
		We know the metrics.
		<br>
		We know the money. 
		<br>
		We know the myths.
		<br>
		We come together to own the solutions.
		<br>
		</p>
	</div>
	<p>
		Attendees include entrepreneurs, investors and leaders of organizations and institutions advocating, promoting, accelerating and researching women's participation in high-growth entrepreneurship. If you have not received an invitation and would like to be considered, please consult the <%= link_to "About page", about_path %> and follow the instructions for requesting an invitation.
	</p>
	<br>
	<%= link_to "Register", 'http://wois.eventbrite.com/', target:'_blank', class: "btn btn-large btn-primary" %>
</div>

<div style="position:absolute; top:90px; right:30px;">
<div id="sponsors-home">
	<h4>2013 Summit Sponsors</h4>
	<h3>Premier Event Sponsor</h3>
	<%= link_to image_tag("thomson.png", size:"170x170"), 'http://thomsonreuters.com/', target:'_blank', id:"thomson-h"%>
	
</div>
</div>




<div style="position:absolute; top:250px; right:25px;">
<p>
<a class="twitter-timeline" href="https://twitter.com/WeOwnItSummit" width="85px" height="637px" data-widget-id="324588213320683520">Tweets by @WeOwnItSummit</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</p>
</div>



