<div class="center hero-unit">
  <h1>We Own It Summit</h1>

  <h2>
    June 27th and June 28th, 2013
    <br>
    London, United Kingdom
  </h2>

  <%= link_to "Register", 'http://wois.eventbrite.com/', target:'_blank', class: "btn btn-large btn-primary" %>
  	<br>
  	<br>
 
  	<p>
		A Summit of leaders to explore women's participation in high growth businesses and identify solutions to move us forward.
	</p>
	<div id="home-text">
		<p>We know the motivations
		<br>
		We know the metrics.
		<br>
		We know the money. 
		<br>
		We know the myths.
		<br>
		We come together to own the solutions.
		<br>
		</p>
	</div>
	<p>
		Attendees include entrepreneurs, investors and leaders of organizations and institutions advocating, promoting, accelerating and researching women's participation in high-growth entrepreneurship. If you have not received an invitation and would like to be considered, please consult the About Us page and follow the instructions for requesting an invitation.
	</p>
	<br>
	<%= link_to "Register", 'http://wois.eventbrite.com/', target:'_blank', class: "btn btn-large btn-primary" %>

</div>



