<div class="center hero-unit">
  <h1>We Own It Summit</h1>

  <h2>
    June 27th and June 28th, 2013
    <br>
    London, United Kingdom
  </h2>

  <%= link_to "Register", 'http://wois.eventbrite.com/', target:'_blank', class: "btn btn-large btn-primary" %>
</div>
