<h1>Sponsors</h1>
<p>
The We Own It Summit is made possible through the generosity of companies who champion the mission to increase women's participation in high growth entrepreneurship, and women's equal representation on boards.
<p>
<div id="sponsors">
	<h3>2013 We Own It Summit Sponsors</h3>
	<h3>Premier Event Sponsor</h3>
	
	<%= link_to image_tag("thomson.png", size:"350x350"), 'http://thomsonreuters.com/', target:'_blank', id:"thomson"%>
	<p>
		Thomson Reuters is the world's leading source of intelligent information for businesses and professionals. We combine industry expertise with innovative technology to deliver critical information to leading decision makers in the financial and risk, legal, tax and accounting, intellectual property and science and media markets, powered by the world's most trusted news organization. With headquarters in New York and major operations in London and Eagan, Minnesota, Thomson Reuters employs approximately 60,000 people and operates in over 100 countries. Thomson Reuters shares are listed on the Toronto and New York Stock Exchanges.  For more information, go to: <%= link_to "Thomson Reuters", 'http://thomsonreuters.com/', target:'_blank' %>
	<p>
</div>
