<h1>Sponsors</h1>
<p>
The We Own It Summit is made possible through the generosity of companies who champion the mission to increase women's participation in high growth entrepreneurship, and women's equal representation on boards.
<p>
<div id="sponsors">
	<h3>2013 We Own It Summit Sponsors</h3>
	<h3>Premier Event Sponsor</h3>
	
	<%= link_to image_tag("thomson.png", size:"350x350"), 'http://thomsonreuters.com/', target:'_blank', id:"thomson"%>
</div>
