<h1>Venue and Hotel</h1>
		<h2>The 2013 We Own It Summit will be held at The Grange St. Paul's Hotel. Entrepreneur Competition, Salons, Keynotes and the Thursday Awards Dinner will all be held at the venue</h2>
		<p>
		Conference participants may stay at the hotel using the special conference rate reserved for us. Rooms can be reserved for Summit attendees for a group rate of GBP 219. To book, call Reservations at: 00.44.020.7233.7888 or email: <a href="mailto:reservations@grangehotels.com">reservations@grangehotels.com</a> and use the code <strong>GC131540. Rooms must be booked in advance of May 26th to assure the discounted rate.</strong>

		<%= image_tag("grange.png", alt: "grange", id:"hotel") %>
		<%= image_tag("grangeatrium.png", alt:"grangeatrium", id:"hotel") %>
		<%= image_tag("pool.png", alt:"grangepool", id:"hotel") %>
		</p>
		<div id="hotel-info">
		<h3><a href="http://grangehotels.com">Grange St.Paul's Hotel</a><br>
			10 Godliman Street<br>
			London EC4V 5AJ
		
		<p>
			<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=The+Grange+St.+Paul's+Hotel,+Godliman+Street,+London,+United+Kingdom&amp;aq=0&amp;oq=the+grange+st&amp;sll=51.513002,-0.100287&amp;sspn=0.00677,0.01929&amp;g=10+Godliman+Street,+City+of+London,+London,+United+Kingdom&amp;ie=UTF8&amp;hq=The+Grange+St.+Paul's+Hotel,+Godliman+Street,+London,+United+Kingdom&amp;t=m&amp;ll=51.512666,-0.09927&amp;spn=0.013888,0.032015&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=The+Grange+St.+Paul's+Hotel,+Godliman+Street,+London,+United+Kingdom&amp;aq=0&amp;oq=the+grange+st&amp;sll=51.513002,-0.100287&amp;sspn=0.00677,0.01929&amp;g=10+Godliman+Street,+City+of+London,+London,+United+Kingdom&amp;ie=UTF8&amp;hq=The+Grange+St.+Paul's+Hotel,+Godliman+Street,+London,+United+Kingdom&amp;t=m&amp;ll=51.512666,-0.09927&amp;spn=0.013888,0.032015" style="color:#0000FF;text-align:left">View Larger Map</a></small>
		</p>
	</h3>
	</div>
